
Build/Bin/WordlistLearned.txt
Build/Ahk2Exe - Shortcut.lnk
Build/Bin/LastState.ini
Build/Bin/Lib/x64/sqlite3.dll
Build/Bin/Preferences.ini
Build/Bin/TypingAid64-Alex.exe
Build/Bin/TypingAid64-Alex.exe.log
Build/Bin/WordlistLearned.db
Build/Bin/WordlistLearned.db-journal
Build/BuildSettings(need2ndIcon).PNG
